<link rel="stylesheet" type="text/css" href="/assets/css/header.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:8080/home">Dumpster Fire</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://discord.com/oauth2/authorize?client_id=777324988314812458&permissions=8&redirect_uri=https%3A%2F%2Fnalyd1369.github.io%2Fdiscord-website%2Findex.html&scope=bot">Add to discord</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8080/home">Commands</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-dark" type="submit">Login</button>
        </form>
      </div>
    </div>
</nav>